.header {
	font-size: 20px;
	line-height: 1.5;
	margin: 60px auto;
}
.header span {
	display: block;
}

	.raw{border:1px solid black;}
.form-header {
	font-size: 20px;
	font-weight: 700;
}

.form {	
border: 5px solid #2727d9;
padding: 35px 20px;}
.form input {
	margin-top:20px;
}
.button-btn {
	background-color: #2727d9;
	margin: 20px auto;
}
.section {padding:30px 0;}
.seaction-header {
	font-size:20px;
	font-weight: 700;
	margin:60px auto; 
}
.feature-box p {margin-top:20px;
height:100px;}
.video {margin-bottom: 30px;}